body {
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
  
 .centered {
  font-family: 'Trebuchet MS';
  font-size: 500%;
  position: absolute;
  left: 50%;
  top: 40%;
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
  -o-transform: translate(-50%, -50%); /* Opera */
  transform: translate(-50%, -50%);

  width: 80%;
  height: 20%;
}
  
.button {
  font-family: 'Trebuchet MS';
  font-size: 150%;
  position: absolute;
  left: 50%;
  top: 60%;
  -moz-transform: translate(-50%, -50%); /* Firefox */
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
  -o-transform: translate(-50%, -50%); /* Opera */
  transform: translate(-50%, -50%);

  width: 20%;
  height: 10%;
}
  
.popup {
  background-color: white;
  border-width: thick;
  border-style: solid;
  border-color: black;

  font-size: 300%;
  text-align: left;
  padding-left: 3%;
  padding-top: 3%;
  top: 50%;
  width: 50%;
  height: 30%;
}
  
.textInput {
  width: 90%;
  height: 10%;
  font-size: 90%;
}
  
.popupButton {
  font-size: 80%;
  top: 85%;
}
  