.centered {
    position: absolute;
    left: 50%;
    top: 40%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
}

.callButton {
  width: 3.3%;
  left: 72%;
  top: 7%;
}

.videoFeed {
  left: 38%; 
  top: 31.5%; 
  height: 41%; 
  width:54%; 
  border-color: black; 
  border-width: thick; 
  border-style: solid;
  background-color: rgb(0, 0, 0);
  object-fit: contain;
}

.person {
  position: absolute;
  -moz-transform: translate(-50%, 0%); /* Firefox */
  -ms-transform: translate(-50%, 0%); /* IE 9 */
  -webkit-transform: translate(-50%, 0%); /* Safari and Chrome*/
  -o-transform: translate(-50%, 0%); /* Opera */
  transform: translate(-50%, 0%);
  width: 12%;
}

.rightTextArea {
  position: absolute;
  -moz-transform: translate(-50%, 0%); /* Firefox */
  -ms-transform: translate(-50%, 0); /* IE 9 */
  -webkit-transform: translate(-50%, 0%); /* Safari and Chrome*/
  -o-transform: translate(-50%, 0%); /* Opera */
  transform: translate(-50%, 0%);

  line-height: 1.3vw;
  top: 45%; 
  height: 2%; 
  width: 80%; 
  left: 38%; 
  font-size: 1.3vw; 
  text-align: right; 
  padding-left: 3vw; 
  border-color: transparent; 
  word-wrap: break-word;
}

.leftTextArea {
  position: absolute;
  -moz-transform: translate(-50%, 0%); /* Firefox */
  -ms-transform: translate(-50%, 0); /* IE 9 */
  -webkit-transform: translate(-50%, 0%); /* Safari and Chrome*/
  -o-transform: translate(-50%, 0%); /* Opera */
  transform: translate(-50%, 0%);

  line-height: 1.3vw;
  top: 45%; 
  height: 2%; 
  width: 80%; 
  left: 48%; 
  font-size: 1.3vw; 
  text-align: left; 
  padding-left: 3vw; 
  border-color: transparent; 
  word-wrap: break-word;
}

.chatWindow {
    background-color: transparent;
    border-width: thick;
    border-style: solid;
    border-color: black;
  
    font-size: 300%;
    text-align: left;
    padding-left: 3%;
    padding-top: 3%;
    top: 50%;
    left: 88%;
    width: 20%;
    height: 90%;
}

.textInput {
    left: 46%;
    top: 96%;
    width: 85%;
    height: 3%;
    font-size: large;
}

.arrowButton {
    width: 9%;
    top: 51%;
    left: 95%
}

.chatSquare {
	background: #c00;
	border-radius: 25px;
    font-size: 1vw;
}

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
  
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }
  